//
// Longform Lists
// -------------------------

ul,
ol {
  list-style-position: outside;
  padding-left: $longform-list-indent;
}

li {
  ol,
  ul {
    padding-left: $longform-list-indent;
  }
}

ol {
  ol {
    list-style: lower-alpha;
  }
}

// definition lists

dl,
dd {
}

dt {
  font-weight: bold;
}

.dl-horizontal {

  dt {
    clear: left;
    float: left;
    text-align: right;
    width: 20.25%;
  }

  dd {
    margin-left: 22.78%;
  }

}
