//
// Longform Quotes
// -------------------------

blockquote,
figure p {
  border-left: 1em solid $longform-highlight-background;
  font-family: $longform-quotes-font;
  font-style: italic;
  padding-left: $longform-spacing-horizontal;
}

q {
  quotes: none;
}

cite,
figcaption {
  font-style: italic;
}

figcaption {
  font-size: $longform-font-small;
}
