
& {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  line-height: $longform-line-height;
  margin: 0 auto;
  max-width: 45em;
  padding: 5%;
}

@media screen and (min-width: $longform-breakpoint-sm) {
  font-size: 16px;
}

@media screen and (min-width: $longform-breakpoint-md) {
  font-size: 18px;
}

@media screen and (min-width: $longform-breakpoint-xl) {
  font-size: 20px;
}

// Vertical Spacing Stacks
// -------------------------

// Single-direction margin declarations
p,
ul,
ol,
dd,
img,
pre,
blockquote {
  margin: 0;
  margin-bottom: $longform-spacing-vertical;
}

// Exception for headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
  margin-bottom: $longform-spacing-vertical / 4;
  margin-top: $longform-spacing-vertical * 2;

  & + {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }
  }
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}


// Links
// -------------------------

a {
  color: $longform-link-color;
  text-decoration: none;

  &:hover {
    color: $longform-link-color-hover;
  }

  &:active,
  &:focus {
    color: $longform-link-color-active;
  }
}

p {
  font-weight: normal;
  line-height: inherit;

  a {
    margin: -.5em;
    padding: .5em; // creates larger target area.
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}


// Titles
// -------------------------

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.25em;}
h6 {font-size: 1em;}

.lead {
  font-size: 1.5em;
  line-height: 1.25em;
}


// Rules
// -------------------------

hr {
  border: 0;
  border-top: 1px solid $longform-muted-color;
  display: block;
  height: 1px;
  margin: 2rem 0;
  padding: 0;
}

// Text-level
// -------------------------

abbr[title] {
  border-bottom: 1px dotted $longform-border-color;
  cursor: help;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background-color: $longform-muted-background;
  color: inherit;
  margin: -.25em 0;
  padding: .25em;
  text-decoration: none;
}

s,
del {
  text-decoration: line-through;
}

mark {
  background: none;
  border-bottom: .25em solid $longform-highlight-background;
  font-style: italic;
  font-weight: bold;
  margin: -.25em 0;
}

pre,
code,
samp {
  background: $longform-muted-background;
  font-family: monospace;
  line-height: $longform-line-height;
}

kbd {
  background: #fff;
  border: 1px solid currentColor;
  display: inline-block;
  font-family: sans-serif;
  letter-spacing: .1em;
  line-height: 1;
  text-transform: uppercase;
}

pre {
  border-radius: $longform-border-radius;
  padding: $longform-spacing-vertical / 2 $longform-spacing-horizontal;
  white-space: pre;
  word-wrap: break-word;
}

code,
samp,
kbd {
  border-radius: $longform-border-radius;
  font-size: .875em;
  margin: -.25em 0;
  padding: .25em .5em;
}

small {
  font-size: $longform-font-small;
}

sub,
sup {
  font-size: $longform-font-small;
  line-height: 0;
  position: relative;
  vertical-align: $longform-line-height;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
