$longform-line-height: 1.5;
$longform-spacing-vertical: .5em;
$longform-spacing-horizontal: .5em;

$longform-font-small: .75em;

$longform-link-color: #39f;
$longform-link-hover-color: $longform-link-color;
$longform-link-active-color: $longform-link-color;

$longform-border-radius: .25em;

$longform-highlight-color: #f66;
$longform-highlight-bg: lighten($longform-highlight-color, 50%);

$longform-muted-bg: #ddd;
$longform-muted-color: #666;
